body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.app-container { 
  display: flex;
  flex-direction: column;
  width: 600px;
  margin-right: auto;
  margin-left: auto;
  height: 100vh;
}


