body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.app-container { 
  display: flex;
  flex-direction: column;
  width: 600px;
  margin-right: auto;
  margin-left: auto;
  height: 100vh;
}

.chat-messages-container {
  flex-grow: 1;
  margin-top: 20px;
  overflow: scroll;
  scrollbar-width: none;
}

.chat-input-container {
  display: flex;
  align-items: top;
  margin-bottom: 15px;
  margin-bottom: 40px;
}

.send-button {
  background-color: rgb(25, 135, 84);
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  margin-left: 10px;
  font-size: 15px;
  color: white;
  cursor: pointer;
}

.input-text {
  padding: 12px;
  border-radius: 10px;
  border: solid 1px gray;
  margin-bottom: 10px;
  font-size: 15px;
  flex-grow: 1;
}

.message-user, .message-robot {
  display: flex;
  align-items: start;
  gap: 15px;
  margin-bottom: 10px;
  
}

.message-user p {
  padding: 10px;
}

.message-user {
  display: flex;
  justify-content: end;
}

.message-robot {
  display: flex;
}

.chat-message-profile {
  width: 50px;
}

.chat-message-text {
  background-color: rgb(238, 238, 238);
  display: inline-block;
  padding: 15px 20px;
  border-radius: 10px;
  max-width: 300px;
}


