.app-container {
  /* display: flex;
  flex-direction: column;
  align-items: center; */
  width: 600px;
  margin-right: auto;
  margin-left: auto;
}

.chat-input-container {
  display: flex;
}

.send-button {
  background-color: rgb(25, 135, 84);
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  margin-left: 10px;
  font-size: 15px;
  color: white;
  cursor: pointer;
}

.input-text {
  padding: 12px;
  border-radius: 10px;
  border: solid 1px gray;
  margin-bottom: 10px;
  font-size: 15px;
  flex-grow: 1;
}

.message-user {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.messages {
  background-color: aliceblue;
}

